.home-page-container{
  background-color: $color-medium-gray;
  height: 100vh;
  display: flex;
  & > .left-panel{
    background-color: $color-white;
    width: 500px;
    height: 100vh;
  }

  & > .middle-panel{
    flex-grow: 1;
  }

  & > .right-panel{
    background-color: $color-white;
    width: 500px;
    height: 100vh;
  }
}